{% extends "base.html" %}
{% block content %}
<div class="container text-center mt-5">
    <h2>Öğrenci Paneli</h2>
    <p>Hoş geldiniz, <strong>{{ current_user.name }}</strong></p>

    <div class="row justify-content-center mt-4">
        <div class="mt-4">
            <h5>📣 Son Duyurular</h5>
            {% for d in duyurular[:3] %}
            <div class="alert alert-secondary">
                <strong>{{ d.baslik }}</strong><br>
                <small>{{ d.tarih.strftime('%d.%m.%Y %H:%M') }}</small><br>
                {{ d.icerik }}
            </div>
            {% endfor %}
        </div>

        <div class="col-md-6">
            <a href="{{ url_for('ogrenci_notlarim') }}" class="btn btn-outline-primary w-100">📘 Sınav Sonuçlarım</a>
            <a href="{{ url_for('transkript_indir', ogrenci_id=current_user.id) }}" class="btn btn-outline-dark">📄 PDF
                Transkript</a>


            <a href="{{ url_for('programim') }}" class="btn btn-outline-secondary w-100">📅 Ders Programım</a>
            <a href="{{ url_for('mesaj_gonder') }}" class="btn btn-outline-secondary">➕ Mesaj Gönder</a>
            <a href="{{ url_for('mesajlar') }}" class="btn btn-outline-secondary">➕ Gelen Mesajlar</a>





            <!-- Gelecekte eklenebilir: Profil Güncelle -->
        </div>
    </div>
</div>
{% endblock %}